body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 96%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  }
  
  .profile {
    display: flex;
    align-items: center;
  }
  
  .profile-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .profile-name {
    font-weight: bold;
  }
  
  .actions {
    display: flex;
    gap: 10px;
  }
  
  .button {
    padding: 9px 12px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
  }
  
  .add-friend {
    background-color: #1774ee;
    color: white;
  }
  .add-friend:hover{
    background-color: rgb(4, 141, 4);
  }
  
  .message {
    background-color: #e4e6eb;
    color: black;
  }
  .message:hover{
    background-color: white;
  }
  
